<p class="pageHeader">$foundEngineer.getFirstName() $foundEngineer.getLastName()</p>

<a href="/engineers/$foundEngineer.getId()/edit">Edit</a>

<form action="/engineers/$foundEngineer.getId()/delete" method="post">
    <input type="submit" value="Delete">
</form>
